# Inference Statistics
## Faraz Ali - fa06396@st.habib.edu.pk

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

In [ ]:
df = pd.read_csv('EmployeeAttrition.csv')

### Q1

H0 = MonthlyIncome of Males is equal to Females

H1 = MonthlyIncome of Males is greater than Females

In [ ]:
male = df[(df['Gender']=='Male')]['MonthlyIncome']
female = df[(df['Gender']=='Female')]['MonthlyIncome']
stats.ttest_ind(male, female, alternative="greater")

Ttest_indResult(statistic=-1.2212617308870655, pvalue=0.8889084827245606)

Since the pvalue is greater than 0.05, we should stick with the null hypothesis that the monthly income of both genders are similar. If, pvalue would have been less than 0.05, it would suggest that mean income of males is greater than that of mean incomes of females.

### Q2

H0 = WorkLifeBalance of Males is similar to Females

H1 = WorkLifeBalance of Males is less than Females

In [ ]:
male1 = df[(df['Gender']=='Male')]['WorkLifeBalance']
female1 = df[(df['Gender']=='Female')]['WorkLifeBalance']
stats.ttest_ind(male1, female1, alternative='less')

Ttest_indResult(statistic=-0.10546787956064164, pvalue=0.45800948246831286)

Since the pvalue is again greater than 0.05, we have to stick with the Null hypothesis that suggest that the work life balance is similar for both genders. If the pvalue would have been less than 0.05, it would have suggested that the work life balance of females is greater than males.

### Q3

H0 = YearsAtCompany of Single is similar to Married

H1 = YearsAtCompany of Single is less than Married

In [ ]:
single = df[(df['MaritalStatus']=='Single')]['YearsAtCompany']
married = df[(df['MaritalStatus']=='Married')]['YearsAtCompany']
stats.ttest_ind(married, single, alternative='greater')

Ttest_indResult(statistic=2.5589985737464476, pvalue=0.0053127663549315815)

Since the pvalue is almost equal to 0.05, the result can be interpreted in either direction. I would suggest that this is  against the Null hypothesis and suggests that the mean of YearsAtCompany for employees having MaritialStatus = Single is less than that of Married.

### Q4

H0 = EnvironmentalSatisfaction of Attrition=Yes is Similar than Attrition=No

H1 = EnvironmentalSatisfaction of Attrition=Yes is less than Attrition=No

In [ ]:
yes = df[(df['Attrition']=='Yes')]['EnvironmentSatisfaction']
no = df[(df['Attrition']=='No')]['EnvironmentSatisfaction']
stats.ttest_ind(yes, no, alternative='less')

Ttest_indResult(statistic=-3.9818600026818496, pvalue=3.58616927468443e-05)

Since the pvalue is less than 0.05, we reject the null hypothesis, i.e. Environment Satisfaction for employees with attrition with yes is similar to those with attrition no. Instead we know that they are not similar, and that employees with attrition = yes have less Environment Satisfaction.

### Q5

H0 = MonthlyIncome of Manager is similar to Laboratory Technician

H1 = MonthlyIncome of Manager is greater than Laboratory Technician

In [ ]:
Manager = df[(df['JobRole'] == 'Manager')]['MonthlyIncome']
Technician = df[(df['JobRole'] == 'Laboratory Technician')]['MonthlyIncome']
stats.ttest_ind(Manager, Technician, alternative='greater')

Ttest_indResult(statistic=76.03317414634023, pvalue=9.971168334368433e-224)

Since the pvalue is way les than 0.05, it strongly suggests that there is a great difference in the monthly incomes of the two roles i.e. Manager and Technician. Hence, we reject the Null hypothesis, and accept the alternative hypothesis.

### Q6

H0 = There is no association between the Department and Gender

H1 = There is association between the Department and Gender

In [ ]:
chisqt = pd.crosstab(df['Department'], df['Gender'], margins=True)
value = np.array([chisqt.iloc[0][0:].values, chisqt.iloc[1][0:].values])
chi2, p, dof, ex = stats.chi2_contingency(value)
p

0.47927963769548776

Since the pvalue is greater than 0.05, we go with the Null hypothesis that the two fields, Department and Gender are independent and have no strong association with each other.